.footer {
    background-image:
        linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);

    &__item {

        padding-top: 3rem;
        padding-bottom: 5rem;

        h3 {
            text-transform: uppercase;
            padding-bottom: 1.5rem;
        }

        p,
        h3 {
            text-align: center;
        }

        h3,
        a {
            color: $white-color;
            font-size: 1.6rem;
        }

    }
}