*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
}

input,
button {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
}

button:focus{
    outline: none;
}

::placeholder {
    color: #bbb;
    font-size: 1.8rem;
}

.wrapper {
    max-width: 1372px;
    margin: 0 auto;
}