.header {

    background-image: linear-gradient(to right, #eddfe4, #dddee5);

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;
    }

    &__logo {
        img {
            width: 80%;
        }
    }

    &__menu {
        display: flex !important;
        align-items: center;

        li {
            max-width: 26rem;
            padding: 3rem 4rem;

            display: flex;
            align-items: center;

            position: relative;

            &:hover {
                .header__sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        a,
        i {
            font-size: 1.6rem;
            color: $primary-color;

        }

        a {
            padding-right: 1rem;

        }
    }

    &__sub-menu {
        position: absolute;
        top: 100%;
        left: 1rem;
        width: 100%;

        background-color: $white-color;

        opacity: 0;
        visibility: hidden;

        li {
            padding: 1rem;

            justify-content: center;

            &:hover {
                background-image: linear-gradient(90deg,
                        #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);

                a {
                    color: $white-color;
                }

            }
        }
    }

    .active {
        visibility: visible !important;
        opacity: 1 !important;
    }

}