.intro {

    background-color: #FFF;

    overflow: hidden;

    &__row {
        margin-bottom: 5rem;


        &:first-child {
            margin-top: 10rem;
        }

        &:last-child {
            margin-bottom: 8rem;
        }
    }

    &__col {
        order: 1;

        &--first {
            order: 0;
        }
    }

    &__download,
    &__title {
        font-size: 2.8rem;
        color: $primary-color;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 5rem;
    }

    &__desc {
        font-size: 1.6rem;
        color: $desc-color;
        text-align: center;
    }

    &__download {
        margin: 3.5rem 0;
    }

    &__app {
        display: flex;
        align-items: center;
    }

    &__image {

        margin: 0 auto;


        &--small {
            width: 35rem;
        }

        &--rotate {
            transform: rotate(-24.47deg);
        }

        img {
            object-fit: cover;
        }
    }
}