.circle-loading {
    width: 8rem;
    height: 8rem;
    border-radius: 15rem;
    position: relative;
    margin: 5rem auto 0;

    display: none;
}

.circle-loading:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 1rem solid #f2f2f2;
    border-right-color: $primary-color;
    border-bottom-color: $primary-color;
    animation: circleLoading 1s forwards infinite linear;
}

@keyframes circleLoading {
    to {
        transform: rotate(360deg);
    }
}



.copy-text {

    position: absolute;
    top: 15rem;
    right: 5rem;

    font-size: 1.7rem;
    color: $white-color;

    padding: 1rem 1.5rem;
    background-color: rgb(30, 172, 30);

    display: inline-block;

    display: none;


    animation: copy .2s forwards linear;
}

@keyframes copy {
    from {
        right: 0;
    }
    to {
        right: 5rem;
    }
    
}