@media screen and (max-width: 1023px) {

    .menu-icon {
        display: block;
    }

    .header {

        position: fixed;
        width: 100%;
        z-index: 11;

        &__menu {
            display: none;
        }

        &__logo {
            padding: 1rem 0;
        }

        &__menu {
            visibility: hidden;
            opacity: 0;

            position: fixed;
            left: 0;
            top: 0;

            background-image: linear-gradient(to right, #eddfe4, #dddee5);
            z-index: 111;

            width: 100%;
      
            transform: translateY(8.4rem);

            flex-direction: column;
            align-items: flex-start;

            li {
                max-width: 40rem !important;
                padding: 2rem 0 2rem 2rem;

                display: block;

                &:hover {
                    .header__sub-menu {
                        display: block;
                    }
                }
            }

            a {
                font-size: 2rem;
            }

            
        }

        &__sub-menu {
            display: none ;

            background-color: inherit;
            position: initial;


            li {
                padding: 1rem 0 0 1rem;

                &:hover {
                    background-image: none;
                    
                    a {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .search {

        &__form {
            max-width: 60rem;
        }
    }

    .intro {
        &__row {
            margin-bottom: 9rem;
        }
    }
}

@media screen and (max-width: 767px) {


    .search {

        padding-bottom: 5rem;

        &__title {
            font-size: 2.5rem;
            padding-top: 5rem;
        }

        &__result {
            h3 {
                font-size: 1.5rem;
            }
        }

        &__copy {
            padding: 1.5rem 1.5rem;
        }

    }

    .intro {

        margin: 0 auto;

        &__row {
            margin-bottom: 6rem;

        }

        &__col {
            order: 0;

            &--first {
                order: 1;
            }
        }

        &__title {
            margin-bottom: 2rem;
        }

        &__download,
        &__title {
            font-size: 2rem;
        }

        &__desc {
            font-size: 1.4rem;
            margin-bottom: 3rem;
        }

        &__image {
            width: 30rem;
        }
    }

    .footer {
        &__row {
            flex-direction: column;
        }

        &__item {

            padding-bottom: 2rem;

            h3,
            p {
                text-align: start;
            }

            a {
                font-size: 1.2rem;
            }

        }
    }
}
