.search {

    padding-top: 7rem;
    padding-bottom: 7rem;

    background-color: #f2f2f2;

    &__title {
        padding-top: 14rem;

        font-size: 3.3rem;
        text-align: center;
        color: $primary-color;
    }

    &__form {
        max-width: 82rem;

        margin: 4rem auto 0;
    }

    &__input {
        display: block;
        width: 100%;

        margin-bottom: 3.5rem;
        padding: 1.5rem 2.5rem;
        border-radius: 6px;

        font-size: 1.8rem;
        color: $primary-color;

    }

    &__button {
        font-size: 1.8rem;
        color: $white-color;
        font-weight: 400;

        width: 25rem;
        padding: 1.5rem 0;

        margin: 0 auto;

        background-image: linear-gradient(90deg, #C33764 0%, #1D2671 100%);
        box-shadow: 0px 0px 5px rgba(107, 24, 78, 0.6);
        border-radius: 6px;

        display: block;
    }

    &__result {

        display: none;

        max-width: 82rem;
        margin: 4rem auto 0;

        background-image: linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);
        border-radius: 2rem;

        padding: 1.5rem 2rem;

        span {
            display: block;
        }

        h3 {
            text-align: center;
            font-size: 1.8rem;
            color: $white-color;
            margin-bottom: 2rem;
        }
    }

    &__value {
        width: 100%;
        padding: 1rem 2rem;
        // border-radius: 1rem;
        border-radius: 1rem 0 0 1rem;

        font-size: 1.8rem;
        color: $primary-color;
    }

    .input-button {
        display: flex;
        width: 100%;
    }

    &__copy {
        padding: 1.5rem 3.5rem;
        font-size: 1.8rem;
        color: $white-color;
        background-color: $primary-color;
        border-radius: 0 1rem 1rem 0;
    }
}