

@import './variables';
@import './global';
@import './loading';

.menu-icon {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translate(-50%, -50%);

    display: none;

    i {
        font-size: 4rem;
        color: $primary-color;
    }
}

@import './header';
@import './search';
@import './intro';
@import './footer';
@import './responsive';


