*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
}

input,
button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

::placeholder {
  color: #bbb;
  font-size: 1.8rem;
}

.wrapper {
  max-width: 1372px;
  margin: 0 auto;
}

.circle-loading {
  width: 8rem;
  height: 8rem;
  border-radius: 15rem;
  position: relative;
  margin: 5rem auto 0;
  display: none;
}

.circle-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 1rem solid #f2f2f2;
  border-right-color: #1D2671;
  border-bottom-color: #1D2671;
  animation: circleLoading 1s forwards infinite linear;
}

@keyframes circleLoading {
  to {
    transform: rotate(360deg);
  }
}
.copy-text {
  position: absolute;
  top: 15rem;
  right: 5rem;
  font-size: 1.7rem;
  color: #FFF;
  padding: 1rem 1.5rem;
  background-color: #1eac1e;
  display: inline-block;
  display: none;
  animation: copy 0.2s forwards linear;
}

@keyframes copy {
  from {
    right: 0;
  }
  to {
    right: 5rem;
  }
}
.menu-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display: none;
}
.menu-icon i {
  font-size: 4rem;
  color: #1D2671;
}

.header {
  background-image: linear-gradient(to right, #eddfe4, #dddee5);
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo img {
  width: 80%;
}
.header__menu {
  display: flex !important;
  align-items: center;
}
.header__menu li {
  max-width: 26rem;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  position: relative;
}
.header__menu li:hover .header__sub-menu {
  opacity: 1;
  visibility: visible;
}
.header__menu a,
.header__menu i {
  font-size: 1.6rem;
  color: #1D2671;
}
.header__menu a {
  padding-right: 1rem;
}
.header__sub-menu {
  position: absolute;
  top: 100%;
  left: 1rem;
  width: 100%;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
}
.header__sub-menu li {
  padding: 1rem;
  justify-content: center;
}
.header__sub-menu li:hover {
  background-image: linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);
}
.header__sub-menu li:hover a {
  color: #FFF;
}
.header .active {
  visibility: visible !important;
  opacity: 1 !important;
}

.search {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #f2f2f2;
}
.search__title {
  padding-top: 14rem;
  font-size: 3.3rem;
  text-align: center;
  color: #1D2671;
}
.search__form {
  max-width: 82rem;
  margin: 4rem auto 0;
}
.search__input {
  display: block;
  width: 100%;
  margin-bottom: 3.5rem;
  padding: 1.5rem 2.5rem;
  border-radius: 6px;
  font-size: 1.8rem;
  color: #1D2671;
}
.search__button {
  font-size: 1.8rem;
  color: #FFF;
  font-weight: 400;
  width: 25rem;
  padding: 1.5rem 0;
  margin: 0 auto;
  background-image: linear-gradient(90deg, #C33764 0%, #1D2671 100%);
  box-shadow: 0px 0px 5px rgba(107, 24, 78, 0.6);
  border-radius: 6px;
  display: block;
}
.search__result {
  display: none;
  max-width: 82rem;
  margin: 4rem auto 0;
  background-image: linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);
  border-radius: 2rem;
  padding: 1.5rem 2rem;
}
.search__result span {
  display: block;
}
.search__result h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #FFF;
  margin-bottom: 2rem;
}
.search__value {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem 0 0 1rem;
  font-size: 1.8rem;
  color: #1D2671;
}
.search .input-button {
  display: flex;
  width: 100%;
}
.search__copy {
  padding: 1.5rem 3.5rem;
  font-size: 1.8rem;
  color: #FFF;
  background-color: #1D2671;
  border-radius: 0 1rem 1rem 0;
}

.intro {
  background-color: #FFF;
  overflow: hidden;
}
.intro__row {
  margin-bottom: 5rem;
}
.intro__row:first-child {
  margin-top: 10rem;
}
.intro__row:last-child {
  margin-bottom: 8rem;
}
.intro__col {
  order: 1;
}
.intro__col--first {
  order: 0;
}
.intro__download, .intro__title {
  font-size: 2.8rem;
  color: #1D2671;
  text-align: center;
}
.intro__title {
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.intro__desc {
  font-size: 1.6rem;
  color: #000000;
  text-align: center;
}
.intro__download {
  margin: 3.5rem 0;
}
.intro__app {
  display: flex;
  align-items: center;
}
.intro__image {
  margin: 0 auto;
}
.intro__image--small {
  width: 35rem;
}
.intro__image--rotate {
  transform: rotate(-24.47deg);
}
.intro__image img {
  object-fit: cover;
}

.footer {
  background-image: linear-gradient(90deg, #8BDEDA 0%, #43ADD0 25%, #998EE0 50%, #E17DC2 75%, #EF9393 100%);
}
.footer__item {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.footer__item h3 {
  text-transform: uppercase;
  padding-bottom: 1.5rem;
}
.footer__item p,
.footer__item h3 {
  text-align: center;
}
.footer__item h3,
.footer__item a {
  color: #FFF;
  font-size: 1.6rem;
}

@media screen and (max-width: 1023px) {
  .menu-icon {
    display: block;
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 11;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    padding: 1rem 0;
  }
  .header__menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #eddfe4, #dddee5);
    z-index: 111;
    width: 100%;
    transform: translateY(8.4rem);
    flex-direction: column;
    align-items: flex-start;
  }
  .header__menu li {
    max-width: 40rem !important;
    padding: 2rem 0 2rem 2rem;
    display: block;
  }
  .header__menu li:hover .header__sub-menu {
    display: block;
  }
  .header__menu a {
    font-size: 2rem;
  }
  .header__sub-menu {
    display: none;
    background-color: inherit;
    position: initial;
  }
  .header__sub-menu li {
    padding: 1rem 0 0 1rem;
  }
  .header__sub-menu li:hover {
    background-image: none;
  }
  .header__sub-menu li:hover a {
    color: #1D2671;
  }

  .search__form {
    max-width: 60rem;
  }

  .intro__row {
    margin-bottom: 9rem;
  }
}
@media screen and (max-width: 767px) {
  .search {
    padding-bottom: 5rem;
  }
  .search__title {
    font-size: 2.5rem;
    padding-top: 5rem;
  }
  .search__result h3 {
    font-size: 1.5rem;
  }
  .search__copy {
    padding: 1.5rem 1.5rem;
  }

  .intro {
    margin: 0 auto;
  }
  .intro__row {
    margin-bottom: 6rem;
  }
  .intro__col {
    order: 0;
  }
  .intro__col--first {
    order: 1;
  }
  .intro__title {
    margin-bottom: 2rem;
  }
  .intro__download, .intro__title {
    font-size: 2rem;
  }
  .intro__desc {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .intro__image {
    width: 30rem;
  }

  .footer__row {
    flex-direction: column;
  }
  .footer__item {
    padding-bottom: 2rem;
  }
  .footer__item h3,
.footer__item p {
    text-align: start;
  }
  .footer__item a {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
